

*{
  box-sizing: border-box;
}
body{
  //background-image: url("bprog.jpg");

}
.heading{
  width: 100%;
  padding: 10px 36%;
  //background: #005477;
}
.leftcolumn{
  float: left;
  width: 75%;
  //padding: 10px;
  //background: #212f3d;
  //background-position: center;
  //background-image: url("assets/back.jpg");
   //  background: white;
   //margin: 10px;
  //color: black;
}
.rightcolumn{
  float: left;
  width: 23%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
}
.cards{
  padding: 10px;
  margin: 10px;
  //color: black;
  border-radius: 15px;
  height: 200px;
}
h2{
  text-align: center;
  font-family: sans-serif;
}
ul li{
  font-size: 30px;
  font-family: sans-serif;
  list-style-type: none;
}
.show{
  padding: 10px 30px;
  margin: 0 25px;
}
.endfoot{
  clear: both;
}
@media (max-width: 600px){
  .leftcolumn, .rightcolumn{
    width: 100%;
  }
  .heading{
    width: 100%;
    padding: 10px;
  }
  .imgattr{
    width: 50%;
  }
 ul li{
   list-style-type:circle;
 }
 .cards{
   height: 300px;
 }
}
